<!DOCTYPE html>
<html>
<head>
    <title><%= book.name %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= book.name %></h1>
    <h5>Tags: <%= book.tags.join(", ") %></h5>
    <p><%= book.content %></p>
</body>
</html>
